.forgot-password-reset-card{
    height: auto;
    padding: 1rem;
    text-align: center;
    background-color: white;
}

.reset-password-button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: large;
}