<body>
    <div class="container">
        <div class="forgot-password-email-wrapper">
            <div class="row mt-5">
                <div class="col-md-3 d-none d-md-block huh"></div>
                <div class="col mid-collumn">
                    <div class="forgot-password-reset-card">
                        <form [formGroup]="forgotPasswordGroup" (ngSubmit)="resetForgotPassword()">
                            
                            <div class="row gy-3">
                                <div class="col-12">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input id="password" type="password" [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password" required [ngClass]="{'is-invalid': passwordsMatch() === false || invalidPasswordFormat() === false  || invalidPasswordLenght() === false}">
                                            <label for="email">Password</label>
                                        </div>

                                        <div class="input-group-text" style="height: 58px">
                                            <button id="eye" mat-icon-button matSuffix type="button"  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon class="eye_icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input id="passwordRepeat" type="password" [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="Password Repeat" formControlName="passwordCheck" required [ngClass]="{'is-invalid': passwordsMatch() === false || invalidPasswordFormat() === false  || invalidPasswordLenght() === false}">
                                            <label for="email">Password Repeat</label>
                                        </div>

                                        <div class="input-group-text" style="height: 58px">
                                            <button id="eye" mat-icon-button matSuffix type="button"  (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                                <mat-icon class="eye_icon">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-danger" *ngIf="passwordsMatch() == false">Passwords <strong>don't match!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="invalidPasswordLenght() == false">Password must be at least <strong>8 characters long!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="invalidPasswordFormat() == false">Password must contain at least <strong>one number!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="errorMessage">{{errorMessage}}</li>
                            </ul>

                            <div class="row link-row">
                                <div class="col-12"><a class="link" routerLink="/login">Already have an account?</a></div>
                                <div class="col-12"><a class="link" (click)="openModal()">Send Verification <strong>E-Mail</strong></a></div>
                            </div>

                            <div class="col-12 mt-1">
                                <button class="btn btn-primary reset-password-button form-group" type="submit"
                                [disabled]="!forgotPasswordGroup.valid || passwordsMatch() == false || invalidPasswordLenght() == false || invalidPasswordFormat() == false">
                                    Reset Password
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-3 d-none d-md-block huh"></div>
            </div>
        </div>
    </div>
</body>