<body id="body">
    <div class="container">
        <div class="landing-wrapper">
            <div class="row">
                <div class="col-6 d-none d-md-block main-cols-landing">1</div>
                <div class="col-md-6 main-cols-landing">
                    <div class="register-card">
                        <form [formGroup]="registerGroup" (ngSubmit)="register()">  
                            <h1>Register</h1>
                            <div class="row register-form-row">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input id="firstName" type="text" class="form-control" placeholder="First Name" formControlName="firstName" required>
                                        <label for="email">First Name</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input id="lastName" type="text" class="form-control" placeholder="lastName" formControlName="lastName" required>
                                        <label for="email">Last Name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating email-input">
                                <input id="email" type="email" class="form-control" placeholder="E-Mail" formControlName="email" required [ngClass]="{'is-invalid': isEmailValidFormat() === false }">
                                <label for="email">Email</label>

                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-danger" *ngIf="isEmailValidFormat() == false">Email is <strong>Invalid!</strong></li>
                                </ul>
                            </div>

                            <div class="row gy-3">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input id="password" type="password" [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password" required [ngClass]="{'is-invalid': passwordsMatch() === false || invalidPasswordFormat() === false  || invalidPasswordLenght() === false}">
                                            <label for="email">Password</label>
                                        </div>

                                        <div class="input-group-text" style="height: 58px">
                                            <button id="eye" mat-icon-button matSuffix type="button"  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon class="eye_icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input id="passwordRepeat" type="password" [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="Password Repeat" formControlName="passwordCheck" required [ngClass]="{'is-invalid': passwordsMatch() === false || invalidPasswordFormat() === false  || invalidPasswordLenght() === false}">
                                            <label for="email">Password Repeat</label>
                                        </div>

                                        <div class="input-group-text" style="height: 58px">
                                            <button id="eye" mat-icon-button matSuffix type="button"  (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                                <mat-icon class="eye_icon">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="register-check-wrapper">
                                <div class="form-check">
                                    <input type="checkbox" id="email" class="form-check-input" formControlName="termsAccepted">
                                    <label for="email" class="form-check-label">Term and conditions</label>
                                </div>
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item list-group-item-danger" *ngIf="passwordsMatch() == false">Passwords <strong>don't match!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="invalidPasswordLenght() == false">Password must be at least <strong>8 characters long!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="invalidPasswordFormat() == false">Password must contain at least <strong>one number!</strong></li>
                                <li class="list-group-item list-group-item-danger" *ngIf="errorMessage">{{errorMessage}}</li>
                            </ul>

                            <button class="btn btn-primary register-button form-group" type="submit"
                                [disabled]="!registerGroup.valid || passwordsMatch() == false || invalidPasswordLenght() == false || invalidPasswordFormat() == false || isEmailValidFormat() == false">
                                Submit Registration
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 