.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}
.main2{
    justify-content: center;
    align-items: center;
}
  
  .carousel {
    width: 70%;
    max-width: 100%;
}