<div class="container" id="background">
    <h1>Documents</h1>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h2>Excel</h2>
                    <hr class="my-10"/>
                    <img src="../../../../../../assets/images/documents/excel.png" alt="excel-icon-img" class="document-icon-image img-fluid">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h2>Word</h2>
                    <hr class="my-10"/>
                    <img src="../../../../../../assets/images/documents/word.png" alt="word-icon-img" class="document-icon-image img-fluid">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h2>PDF</h2>
                    <hr class="my-10"/>
                    <img src="../../../../../../assets/images/documents/pdf.png" alt="pdf-icon-img" class="document-icon-image img-fluid">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h3>Summary</h3>
                    <p>After you open those documents, you will see summary of your work for the past month.</p>
                </div>
            </div>
        </div>
    </div>

</div>