<div class="container-fluid" id="background">
    <div class="row">
        <div class="col-12 mt-3">
            <h2>Employee Stats</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="pie" [chart]="pieChart">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="line" [chart]="lineChart">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>