.upload-button{
    margin-top: 1rem;
    padding: 1rem;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: #263238;
    transition: all 0.3s ease;
    border: 1px solid #263238;
}

.upload-button:hover{
    background-color: white;
    border: 1px solid #263238;
    color: #263238;
    transition: all 0.3s ease;
}

#settings-save-button {
    margin-top: 1rem;
    padding: 1rem;
    width: 200px;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    transition: all 0.3s ease;
}

#settings-save-button:hover{
    background-color: white;
    color: #5cb85c;
    transition: all 0.3s ease;
    border: 1px solid #5cb85c;
}

.password-repeat-container{
    margin-top: 1rem;
}

.input-group{
    width: 100%;
}

#settings-change-password-cancel-btn{
    margin-top: 1rem;
    padding: 1rem;
    width: 150px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #292b2c;
    color: white;
}

#settings-change-password-cancel-btn:hover{
    background-color: white;
    color: #292b2c;
    transition: all 0.3s ease;
    border: 1px solid #292b2c;
}

#settings-change-password-save-btn{
    margin-top: 1rem;
    padding: 1rem;
    width: 200px;
    background-color: #0275d8;
    color: white;
    transition: all 0.3s ease;
    border: 1px solid #0275d8;
}

#settings-change-password-save-btn:hover{
    background-color: white;
    color: #0275d8;
    transition: all 0.3s ease;
    border: 1px solid #0275d8;
}

#deactivate-btn{
    margin-top: 1rem;
    padding: 1rem;
    width: 200px;
    background-color: #d9534f;
    color: white;
    border: 1px solid #d9534f;
    transition: all 0.3s ease;
}

#deactivate-btn:hover{
    background-color: white;
    color: #d9534f;
    transition: all 0.3s ease;
    border: 1px solid #d9534f;
}

.profile-pic {
    height: 250px;
    width: auto;
    border-radius: 5px;
}

.profile-pic-container{
    text-align: center;
}

#settings-upload-picture-button {
    margin-top: 1rem;
    padding: 1rem;
    width: 200px;
    background-color: #0275d8;
    color: white;
    border: 1px solid #0275d8;
    transition: all 0.3s ease;
}

#settings-upload-picture-button:hover {
    background-color: white;
    color: #0275d8;
    transition: all 0.3s ease;
    border: 1px solid #0275d8;
}

.choose-file-btn{
    padding: 1rem;
    background-color: #292b2c;
    color: white;
    transition: all 0.3s ease;
    border: 1px solid #292b2c;
}

.choose-file-btn:hover{
    background-color: white;
    color: #292b2c;
    transition: all 0.3s ease;
    border: 1px solid #292b2c;
}

#file-input {
    display: none;
}

#background{
    background-color: #CED4DA;
}

#header-class{
    margin-top: 2rem;
}