.add-hours-btn{
    height: 60px;
    width: 100%;
    font-size: 30px;
    background-color: #263238;
    color: white;
    border: 1px solid #263238;
    transition: all 0.3s ease;
}

.add-hours-btn:hover{
    background-color: white;
    color: #263238;
    transition: all 0.3s ease;
}

.work-day-card{
    margin-top: 1rem;
}

.border-right {
    border-right: 1px solid #ddd;
}

#background{
    min-height: 100vh;
    background-color: #CED4DA;
}
