<div class="container" id="background">

    <div class="row">
        <div class="col-12 mt-3">
            <h2>Working Hours</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-primary add-hours-btn" (click)="openAddHoursModal()">
                +
            </button>
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="row justify-content-md-center work-day-card" *ngFor="let workDay of allWorkDays">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4 border-right">
                        <p>DATE: <strong>{{workDay.date}}</strong></p>
                    </div>

                    <div class="col-md-4 border-right">
                        <p>TIME FROM: <strong>{{workDay.timeFrom}}</strong></p>
                    </div>

                    <div class="col-md-4">
                        <p>BREAK: <strong>{{workDay.pause}}</strong></p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 border-right">
                        <p>PLACE: <strong>{{workDay.place}}</strong></p>
                    </div>

                    <div class="col-md-4 border-right">
                        <p>TIME TO: <strong>{{workDay.timeTo}}</strong></p>
                    </div>

                    <div class="col-md-4">
                        <p>TOTAL: <strong>{{workDay.totalHours}}h = {{workDay.totalSalary}}€</strong></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-primary edit-btn" (click)="openEditWorkDayModal(workDay)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>