.add-hours-btn{
    width: 260px;
    height: 60px;
    font-size: 30px;
    background-color: #263238;
    color: white;
    border: 1px solid #263238;
    transition: all 0.3s ease;
}

.add-hours-btn:hover{
    background-color: white;
    color: #263238;
    transition: all 0.3s ease;
}