.huh{
    background-color: red;
}

.forgot-password-email-card{
    height: auto;
    padding: 1rem;
    text-align: center;
    background-color: white;
}

.send-email-button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: large;
}