<body>
    <div class="container">
        <div class="forgot-password-email-wrapper">
            <div class="row mt-5">
                <div class="col-md-3 d-none d-md-block"></div>
                <div class="col mid-collumn">
                    <div class="forgot-password-email-card">
                        <form [formGroup]="forgotPasswordEmailGroup" (ngSubmit)="sendForgotPasswordEmail()">
                            <div class="form-floating email-input">
                                <input id="email" type="email" class="form-control" placeholder="E-Mail" formControlName="email" required [ngClass]="{'is-invalid': isEmailValidFormat() === false }">
                                <label for="email">Email</label>

                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-danger" *ngIf="isEmailValidFormat() == false">Email is <strong>Invalid!</strong></li>
                                </ul>
                            </div>

                            <div class="col-12 mt-1">
                                <button class="btn btn-primary send-email-button form-group" type="submit"
                                    [disabled]="!forgotPasswordEmailGroup.valid|| isEmailValidFormat() == false">
                                    Send Email
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-3 d-none d-md-block"></div>
            </div>
        </div>
    </div>
</body>