.main-cols-landing{
    height: 100vh;
}

.login-card{
    height: auto;
    padding: 1rem;
    text-align: center;
}

.login-form-row{
    margin-top: 2rem;
}

.login-form-row{
    margin-top: 2rem;
}

.login-button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}

[class*="col"] {
    // background-color: rgb(180, 255, 196);
    // border: 1px solid rgb(255, 133, 133);
}

.--second-column-login {
    width: 100%;
    padding: 15px;
}
.--second-column-login h1 {
   color: #191528;
}

.e-title-login {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-style: italic;
}

.e-icon-login {
    max-width: 100px;
    max-height: 100px;
}