<body id="body">
    <div class="container">
        <div class="landing-wrapper">
            <div class="row">


                <div class="col-md-6 d-flex justify-content-center align-items-center main-cols-landing gx-5">
                    <div class="login-card">
                        <form [formGroup]="loginGroup" (ngSubmit)="login()">
                            <h1 class="e-title-login">Login</h1>
                            <div class="row gy-3 login-form-row">
                                <div class="col-12">
                                    <div class="form-floating email-input">
                                        <input id="email" type="email" class="form-control" placeholder="E-Mail" required formControlName="email" [ngClass]="{'is-invalid': isEmailValidFormat() === false }">
                                        <label for="email">Email</label>

                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-danger" *ngIf="isEmailValidFormat() == false">Wrong <strong>E-Mail Format!</strong></li>
                                        </ul>
                                    </div>
                                </div>
                                  
                                <div class="col-12">  
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input id="password" type="password" class="form-control" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                            <label for="email">Password</label>
                                        </div>

                                        <div class="input-group-text" style="height: 58px">
                                            <button id="eye" mat-icon-button matSuffix type="button"  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon class="eye_icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item list-group-item-danger" *ngIf="errorMessage">{{errorMessage}}</li>
                            </ul>

                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-secondary login-button" routerLink="/landing" type="button">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-8">
                                    <button class="btn btn-primary login-button form-group" type="submit" [disabled]="!loginGroup.valid || isEmailValidFormat() == false">
                                        Login
                                    </button>
                                </div>
                            </div>

                            <div class="row link-row">
                                <div class="col-12"><a class="link" routerLink="/register">Don't have an account yet?</a></div>
                                <div class="col-12"><a class="link" routerLink="/forgotPasswordEmail"><strong>Forgot Password?</strong></a></div>
                                <div class="col-12"><a class="link" (click)="openModal()">Send Verification <strong>E-Mail</strong></a></div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-6 d-flex flex-column main-cols-landing justify-content-center align-items-center gx-5">
                    <div class="row mb-3">
                        <div class="col-12">
                            <img class="e-icon-login" src="../../../../assets/images/folder.png" alt="folder">
                        </div>
                    </div>

                    <div class="row mb-0">
                        <div class="col-12 --second-column-login">
                            <h1 class="e-title-login">Welcome to Hours Alpha!</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <hr>
                            <p>Manage your working hours with HoursAlpha. The app includes many features such as a calculator, hours overview, export and charts</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body> 