.main-cols-landing{
    height: 100vh;
}

.login-card{
    height: auto;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.login-form-row{
    margin-top: 2rem;
}

.login-form-row{
    margin-top: 2rem;
}

.login-button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}

.--second-column-login {
    width: 100%;
    padding: 15px;
}
.--second-column-login h1 {
   color: #191528;
}

.e-title-login {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.e-icon-login {
    max-width: 100px;
    max-height: 100px;
}

#background{
    height: 100vh;
    background-color: #CED4DA;
}