
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hoursalphaFE-primary: mat.define-palette(mat.$indigo-palette);
$hoursalphaFE-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hoursalphaFE-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hoursalphaFE-theme: mat.define-light-theme((
  color: (
    primary: $hoursalphaFE-primary,
    accent: $hoursalphaFE-accent,
    warn: $hoursalphaFE-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hoursalphaFE-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    height: auto;
}

.link-row{
  margin-top: 1rem;
}

.link{
  cursor: pointer;
}

.link-row a{
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #E6EDEF;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #EDF1F7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

.heading {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #EFF5F5 90%,
    #EFF5F5 100%,
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
  text-decoration: none;
}

.heading:hover{
  background-size: 100% 100%;
  background-position-x: left;
  color: #EFF5F5;
}