<div class="container employee-profile-container" id="background">
    <div class="employee-profile-wrapper">
        <div class="row">
            
            <div class="col-md-6">

                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="personal-data-wrapper" id="data-card">
                            <h2>Personal Data</h2>
    
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>First Name:</strong> Jozko
                                </li>
                                <li class="list-group-item">
                                    <strong>Last Name:</strong> Mrkvicka
                                </li>
                                <li class="list-group-item">
                                    <strong>Email:</strong> jozkomrkvicka@gmal.com
                                </li>
                                <li class="list-group-item">
                                    <strong>Address:</strong> 0905123456
                                </li>
                                <li class="list-group-item">
                                    <strong>ZIP:</strong> 01306
                                </li>
                                <li class="list-group-item">
                                    <strong>Password:</strong> 12345678a
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="profile-picture-wrapper" id="picture-wrappers">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="profile-pic" class="profile-picture" id="pictures">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row company-row">
            <div class="col-md-9">

                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="company-data-wrapper" id="data-card">
                            <h2>Company Data</h2>
    
                            <ul class="list-group">
                                <li class="list-group-item">
                                <strong>Company Name:</strong> Los Pollos Hermanos
                                </li>
                                <li class="list-group-item">
                                <strong>Location:</strong> Albuquerque
                                </li>
                                <li class="list-group-item">
                                <strong>Contact:</strong> lospolloshemanos@gmail.com
                                </li>
                                <li class="list-group-item">
                                <strong>Hourly Salary:</strong> 6.5$
                                </li>
                            </ul>
    
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card shadow border-0">
                    <div class="card-body">
                        <h2>Settings</h2>
                        <p>If you want to change any data in your profile, you can do so in <strong>Settings</strong></p>
                        <div class="settings-wrapper">
                            <button class="settings-button">Settings</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
